<%- include("./partials/header")%>


  <div class="homepage">
    <div class="homeLeft">
      <h6 style="color: #062F6E; font-weight: 700;">WELCOME TO INSTANT RESUME
      </h6>
      <h1>Build A Professional Resume in Minutes.</h1>
    <h5 style="font-weight: 400;">Create your resume easily and instantly in 5 minutes with our instant resume.</h5>
      <a href="/signin" class="btn btn-primary w-25">Create Now</a>
  </div>
    <div class="homeRight">
      <img src="https://images.ctfassets.net/pdf29us7flmy/7LLukosjWpzjBVA7R1GYEm/24f4556436eb9b6c105ed8c13b53b0e9/resume-parsing_GOLD3169_WeeklyNewsletterImage_317-02-1024x532_.png" alt="" srcset="">
    </div>
  </div>

  <%- include("./partials/footer")%>
 