<%- include('./partials/header') %>

<div class="background" style="padding-top: 10%; padding-bottom: 10%;">

    <form action="/reset-password" method="post" class="form container d-flex flex-column align-items-center border h-75 w-75 p-5 justify-content-center">
        <h1 class="mb-5">Reset Password</h1>
        <input type="password" placeholder="old password" name="oldpassword" class="w-50 mb-4 p-2 rounded border">
    <input type="password" placeholder="new password" name="newpassword" class="w-50 mb-4 p-2 rounded border">
    <button class="btn btn-primary w-25">Change Password</button>
    <a href="/profile">Back to profile</a>
      </form>
</div>

<%- include('./partials/footer') %>